:root {
  --primary: #4166eb;
  --secondary: #45b9f2;
  --accent: #fdcc03;
  --red: #ff6263;
  --green: #17d1bc;
  --black: #000000;
  --white: #ffffff;
}

html,
body {
  background-color: var(--primary);
  margin: 0px;
  padding: 0px;
  
}
